.footer {
  position: fixed;
  bottom: 0;
  padding: px(30);
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background: linear-gradient(to bottom, transparent, black);

  &--information {
    color: white;
    font-size: px(16);
  }
}

@media screen and (max-width: 991.98px) {
  .footer {
    bottom: mob(10);
    width: calc(100% - mob(20));
    left: mob(10);
    right: mob(10);

    &--information {
      font-size: mob(16);
    }
  }
}