.navigation {
  position: fixed;
  top: px(30);
  width: calc(100% - px(60));
  left: px(30);
  right: px(30);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #686868;
  border-radius: px(40);
  padding: px(8);

  &--name {
    color: white;
    font-weight: 600;
    padding-left: px(50);
    font-size: px(30);
  }

  &__wrapper {
    &--button {
      font-size: px(16);
      padding: px(10) px(30) px(12);
      border-radius: px(30);
      color: white;
      border: 1px solid white;
      background: none;
      margin-left: px(9);
      transition: all 0.3s ease-in-out;
      cursor: pointer;
  
      &:last-of-type {
        background: white;
        color: #000000
      }
  
      &:hover {
        background: white;
        color: #000000;
  
        &:last-of-type {
          background: none;
          color: white
        }
      }
    }
  }
}

@media screen and (max-width: 991.98px) {
  .navigation {
    top: mob(10);
    width: calc(100% - mob(20));
    left: mob(10);
    right: mob(10);
    border-radius: mob(40);
    padding: mob(8);
  
    &--name {
      color: white;
      font-weight: 600;
      padding-left: mob(20);
      font-size: mob(30);
    }
  
    &__wrapper {
      &--button:first-of-type, &--button:nth-last-of-type(2) { display: none; }

      &--button {
        font-size: mob(16);
        padding: mob(10) mob(30) mob(12);
        border-radius: mob(30);
        margin-left: 0;
      }
    }
  }
}